
body {
    background-color: rgba(12, 9, 6, 0.898);
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
header h1 {
    -webkit-text-fill-color: rgb(175, 158, 136);
    box-sizing: content-box;
    text-align: center;
    padding: 20px;
    font-family: "Snap ITC", sans-serif;
    font-size: 50px;
}
.nav-list li {
    display: inline-block;
  }
  
  .nav {
    border-radius: 200px;
    width: 25%;
    text-align: left;
    margin-left: 100px;
    display: flex;
    gap: 50px;
    color: rgb(85, 82, 79);
    font-family: "Broadway", sans-serif;
    font-size: 20px;
  }
  
  .navbar {
    margin-left: 70px;
    font-size: 20px;
    font-family: "Broadway", sans-serif;
    color: rgb(85, 82, 79);
  }
  main {
    align-items: center;
    text-align: center;
    font-size: 23px;
    font-family: 'Bauhaus 93', sans-serif;
    color: rgb(77, 61, 41);
  }
  input {
    width: fit-content;
    padding: 10px 8px;
    margin: 7px;
    display: inline-block;
    font-family: "Bauhaus 93", sans-serif;
    font-size: 20px;
    background-color: black;
    color: rgb(119, 119, 89);
    text-align: center;
  }
 .login {
    color: rgb(184, 184, 158);
    font-size: 45px;
    align-items: center;
    text-align: center;
 }